* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* font-family: Times New Roman; */
    /* font-family: 'Courier New'; */
    /* font-family: Segoe UI; */
    /* font-family: Georgia; */
    letter-spacing: 1px;
}

body {
    background-color: #ccc;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo-container .title h2 {
    margin-top: 2rem;
    text-align: center;
    color: #444;
    font-size: 4rem;
    letter-spacing: 5px;
}

.logo-container .title .line {
    width: 300px;
    height: 10px;
    background-color: #444;
}

.logo-container .title p {
    margin-top: 1rem;
    text-align: center;
    color: #444;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container {
    /* display: none; */
    width: 1320px;
    margin: 0 auto;
    border: 2px solid #444;
}

.file-name, .file-name span {
    width: 1320px;
    margin: 0 auto;
    color: #444;
    font-size: 1.1rem;
    letter-spacing: 2px;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.problem-container, .problem-solution-container {
    width: calc(1320px - 4rem);
    background-color: #444;
    margin: 2rem auto;
    color: #ccc;
    font-size: 1rem;
    line-height: 2rem;
    padding: 2rem;
    letter-spacing: 2px;
}

.solution-container {
    width: 1320px;
    margin: 2rem auto;
    display: flex;
    justify-content: flex-end;
}

.solution-container button {
    background-color: #444;
    color: black;
    font-size: 1rem;
    padding: 10px 1.2rem;
    border-radius: 10px;
    border: 1px solid #444;
    cursor: pointer;
}

.solution-container button:hover {
    color: white;
}

.menu-container {
    background-color: #f3f3f3;
    display: flex;
    align-items: baseline;
    padding: .5rem;
    border-bottom: 2px solid #444;
}

.options {
    width: max-content;
    background: none;
    text-decoration: none;
    border: none;
    padding: .5rem;
    color: #777;
    font-size: 1.1rem;
    cursor: pointer;
    margin-right: 1rem;
}

.dropdown.active > .options,
.options:hover {
    color: black;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    background-color: white;
    padding: .5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .options + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu input[type="file"] {
    display: none;
}

.dropdown-menu label {
    cursor: pointer;
}

.dropdown-menu label:hover {
    color: black;
}

.adjust-mode {
    flex-grow: 1;
    text-align: end;
    color: #777;
}

.adjust-mode .fa-moon:hover {
    color: black;
    cursor: pointer;
}

#light {
    display: none;
}

/* Text editor */
.text-editor-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-container,
.right-container {
    width: 50%;
}

.left-container textarea,
.right-container textarea {
    resize: none;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    border: none;
    outline: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #ccc;
    padding: 1rem;
}

.left-container textarea {
    border-right: 2px solid #444;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-container .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}

.right-container .content p {
    color: #444;
    font-size: 1.2rem;
    text-align: center;
    padding: .5rem;
}

.right-container .content textarea {
    width: 85%;
    line-height: 1.5rem;
    border: 2px solid #444;
    border-radius: 10px;
}

.right-container .content .chartBox {
    background-color: white;
    width: calc(85% + 2rem);
    border: 2px solid #444;
    border-radius: 10px;
}

.right-container .content button {
    padding: 5px 1rem;
    margin: 10px 5px;
    background-color: transparent;
    border: 1px solid #444;
    border-radius: 5px;
    cursor: pointer;
}

.right-container .content button:hover {
    background-color: #444;
    color: white;
}

.footer-container {
    text-align: center;
    margin: 2rem 0;
    color: #444;
    font-weight: 600;
}





/* For container expand view */
.text-output-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}

.text-output-container .text-container {
    width: 1000px;
    margin: 2rem;
}

.text-output-container h2 {
    margin-top: 3rem;
    font-weight: 500;
}

.text-output-container textarea {
    resize: none;
    background-color: transparent;
    color: black;
    width: calc(100% - 2rem);
    padding: 1rem;
    font-size: 1rem;
    line-height: 2rem;
    outline: none;
    border: 2px solid #444;
    border-radius: 10px;
}

.text-output-container button {
    background-color: transparent;
    padding: 5px 1rem;
    border: 1px solid #444;
    border-radius: 5px;
    cursor: pointer;
}

.text-output-container .chartBox {
    background-color: white;
    width: 1000px;
    margin: 2rem;
    padding: 2rem;
    border: 2px solid #444;
    border-radius: 10px;
}

.text-output-container button:hover {
    background-color: #444;
    color: white;
}







/* For about section */
.modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #444;
}

.modal {
    width: 990px;
    background-color: white;
    border: 2px solid #444;
    border-radius: 10px;
    margin: 10rem 0;
    z-index: 100;
}
  
.modal-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #444;
}
  
.modal-header .title {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
}
  
.modal-header .close-button {
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
  
.modal-body {
    padding: 1.5rem 3rem;
}

.body-content {
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 2rem;
}

.body-content ul {
    margin-left: 2rem;
}

.body-content a {
    color: dodgerblue;
}

.body-title {
    font-size: 1.2rem;
    padding: .5rem 0;
    margin-bottom: 1rem;
    border-bottom: 2px solid #444;
}